<!doctype html>
<html>
  <head>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script src="http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/js/jquery.dataTables.rowGrouping.js"></script>
    <script src="static/jquery.floatThead.min.js"></script>

    <link href="static/style.css" rel="stylesheet">

    <title>Programmer Competency Matrix</title>
  </head>
  <body>

    <h1>Programmer Competency Matrix</h1>

    <table id="capabilitytable">
    <thead>
        <th></th>
        <th></th>
        <th>Level 0</th>
        <th>Level 1</th>
        <th>Level 2</th>
        <th>Level 3</th>
    </thead>
    <tbody>

    {% for group in items | groupby('category') %}
        {% for group2 in group.list | groupby('subcategory')%}
            <tr>
                <td>{{ group.grouper }}</td>
                <td>{{ group2.grouper }}</td>
            
                {% for x in group2.list | sort(attribute='level') %}
                    <td>{{ x.description }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}

    </tbody>
    </table>

    <script>
        $(document).ready(function(){
            var $table = $('#capabilitytable')
            $table.dataTable({
                        bSort:false,
                        bPaginate:false,
                        bInfo:false
                    })
                .rowGrouping({	iGroupingColumnIndex1: 1});

            $table.floatThead({
                 scrollingTop: 0,
                 useAbsolutePositioning:false
            });
        });
    </script>

  </body>
</html>