<!doctype html>
<html>
  <head>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script src="http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/js/jquery.dataTables.rowGrouping.js"></script>
    <script src="static/jquery.floatThead.min.js"></script>

    <link href="static/style.css" rel="stylesheet">

    <title>Programmer Competency Matrix</title>
  </head>
  <body>

    <h1>Programmer Competency Matrix</h1>

    <button id="btnExport" type="button" class="btn btn-default"  data-toggle="modal" data-target="#exportmodal">Export</button>
    <button id="btnImport" type="button" class="btn btn-default">Import</button>

    <table id="capabilitytable">
    <thead>
        <th></th>
        <th></th>
        <th>Level 0</th>
        <th>Level 1</th>
        <th>Level 2</th>
        <th>Level 3</th>
    </thead>
    <tbody>

    {% for category in items | groupby('category') %}
        {% for subcategory in category.list | groupby('subcategory')%}
            <tr>
                <td>{{ category.grouper }}</td>
                <td>{{ subcategory.grouper }}</td>
            
                {% for x in subcategory.list | sort(attribute='level') %}
                    <td data-id="{{ x.id }}">{{ x.description }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}

    </tbody>
    </table>

    <!-- Export Modal -->
    <div class="modal fade" id="exportmodal" tabindex="-1" role="dialog" aria-labelledby="export" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Export</h4>
            <p>Save the following JSON to restore your selections later</p>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $(document).ready(function(){
            var $table = $('#capabilitytable')
            $table.dataTable({
                        bSort:false,
                        bPaginate:false,
                        bInfo:false
                    })
                .rowGrouping({	iGroupingColumnIndex1: 1});

            $table.floatThead({
                 scrollingTop: 0,
                 useAbsolutePositioning:false
            });
        });
    </script>

    <script src="static/processor.js"></script>

    <script>
        $(function(){
            $('#exportmodal').on('shown.bs.modal', function () {
                $(this).find(".modal-body").text(JSON.stringify(processor.exp()));
            })
        });
    </script>







  </body>
</html>